
<script src="/js/main/detail.js"></script>

<div id="detail-film" ng-controller="filmDetailController">
    <div class="my-container-center my-title-header animated flipInX" ng-cloak>
        <h1 class="title-name-film" id="name"> {{ name }} </h1>
    </div>

    <div class="row ">
        <div class="col-sm-12 col-md-5 my-detail-image text-center">
            <a href="#" data-toggle="modal" data-target="#modalImage">
                <img src="{{ photo }}">
            </a>
        </div>

        <div class="col-sm-12 col-md-7 animated flipInX" ng-cloak>
            <h4> Thể loại: &nbsp; <span id="category">{{ catego }}</span></h4>
            <h4> Thời điểm phát hành: &nbsp; <span id="year">{{ year }}</span> </h4>
            <h4> Nội dung mô tả: </h4>
            <p id="detail"> {{ detail }} </p>
        </div>
    </div>
    <div class="my-container-center my-bot-form">
        <button type="submit " class="btn btn-primary my-btn text-center animated slideInUp" onclick="javascript:window.location.href='/'">
            <i class="fa fa-arrow-circle-left fa-lg"></i>
            Quay trở về
        </button>
    </div>
</div>