
<link rel="stylesheet" href="/stylesheets/profile.css">
<script src="/js/main/profile.js"></script>

<form role="form" class="ng-pristine ng-valid ng-valid-maxlength row" ng-controller="profileController" style="padding: 15px; alitegn: center">
    <div class="col-sm-12 col-md-5 animated flipInX my-div-block" id="my-div-block-top">
        <h2 style="text-align:center">Thông tin cá nhân</h2>
        <div class="form-group row">
            <h6> Email </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
                <input type="text" class="form-control" disabled="" id="email" value="sdss">
            </div>

            <h6> Tên người dùng </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-address-card fa-lg"></i></span>
                <input type="text" class="form-control" id="username" placeholder="Tên người dùng" maxlength="30" value="sdsd">
            </div>

            <h6> Số điện thoại </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-phone-square fa-lg"></i></span>
                <input type="number" class="form-control" id="tel" name="tel" placeholder="Số điện thoại" ng-model="tel">
            </div>

            <h6> Thay đổi ảnh đại diện </h6>
            <div class="my-input-avatar">
                <a href="" ng-click="clickUploadImage()">
                    <img class="imageAvatar" id="imageAvatar" name="imageAvatar" ng-src="./images/default.svg" src="./images/default.svg">
                </a>
                <input type="file" style="display:none" id="fileInputAvatar" name="fileInputAvatar" accept="image/*" onchange="readURLImg(this)">
                <span> </span>
                <button type="button" class="btn btn-secondary my-btn text-center" ng-click="clickUploadImage()" style="color:black">
                Chọn ảnh đại diện (avatar)
            </button>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>


    <div class="col-sm-12 col-md-5 animated flipInX my-div-block">
        <h2 style="text-align:center">Mạng xã hội</h2>
        <div class="form-group row">
            <h6> Facebook </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-facebook-square fa-lg"></i></span>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="facebook" name="facebook" placeholder="http://" ng-model="facebook">
            </div>

            <h6> Google+ ID </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-google-plus-square fa-lg"></i></span>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="google" name="google" placeholder="Google+ ID" ng-model="google">
            </div>

            <h6> Tài khoản Skype </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-skype fa-lg"></i></span>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="skype" name="skype" placeholder="Skype" ng-model="skype">
            </div>

            <h6> Website/Blog </h6>
            <div class="input-group my-div my-div-2">
                <span class="input-group-addon"><i class="fa fa-external-link fa-lg"></i></span>
                <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="website" name="website" placeholder="http://" ng-model="website">
            </div>
        </div>
    </div>


    <div class="container my-container-center my-bot-form">
        <button type="submit" class="btn btn-primary my-btn-profile text-center animated slideInUp" ng-click="clickSaveProfile()">
    <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i>
        Lưu thay đổi
    </button>
    </div>
</form>