.my-container-profile {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.my-div-block {
    background-color: rgb(114, 114, 114);
    border-radius: 20px;
    padding: 30px 40px;
    height: 510px;
    color: white;
    /* margin: 0px 30px; */
}

.my-div-block:hover {
    background-color: rgb(54, 54, 54);
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

.my-bot-form {
    padding: 50px;
}

.my-btn-profile {
    font-size: 1.1em;
    padding: 15px 25px;
    border-radius: 8px;
}

.imageAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.my-input-avatar {
    justify-content: center;
    text-align: center;
}

.my-div-2 {
    margin-bottom: 20px;
}

@media screen and (max-width:991px) {
    .my-div-block {
        margin-bottom: 50px;
    }
    .my-input-avatar span {
        display: block;
        margin: 15px;
    }
    .imageAvatar {
        width: 120px;
        height: 120px;
    }
    #my-div-block-top {
        height: 560px;
    }
}